* {
  box-sizing: border-box;
}
.App {
  position: absolute;
  top: 15vh;
  left: 30vw;
}
.timer {
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
  padding: 0.5em;
  padding-bottom: 1em;
}

.elapsed {
  display: flex;
  font-size: 4em;
  font-weight: 900;
  border-bottom: 0.1em solid black;
}
.elapsed div {
  border-left: none;
  border-right: none;
  padding: 0.3em;
  letter-spacing: 0.03em;
}
.actions {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}

.actions button {
  font-size: 4em;
  background-color: coral;
}
